* {
    font-family: 'Jost', sans-serif;
    margin: 0;
}
header {
    background: linear-gradient(to bottom, lightpink, seashell 40%);
}
h1 {
    color: black;
    font-family: 'The Nautigal', cursive;
    font-size: 10rem;
}
img {
    border-radius: 50%;
    float: left;
    height: 200px;
    padding: 3% 5%;
}
main {
    background-color: seashell;
    padding: 0% 10% 5%;
}
section {
    padding-top: 3%;
    text-align: justify;
    border-radius: 5px;    
}
#perfil {
    column-count: 2;
    column-gap: 4%;
}
footer {
    background: linear-gradient(to top, lightpink, seashell);
    padding: 25px;
    text-align: center;    
}
a {
    color: rgba(120,40,140, 0.75);
    text-decoration: none;
}
a:hover {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: underline;
}


form {
    background: linear-gradient(lightpink, seashell 10% 90%, lightpink);
    padding: 10%;
}
.datos {
    margin: 1%;
    padding: 0.75%;
    background-color: lightyellow;
    box-shadow: 0 0 5px #888;
    border: none;
    border-radius: 4px;
}
#enviar:hover {
    background-color: lightseagreen; 
}
#borrar:hover {
    background-color: lightcoral;
}

/* background: rgba(0,155,255,0.47);
background: linear-gradient(278deg,rgba(0,155,255,0.47) 0%, #27a2c3 80%);
background: -webkit-linear-gradient(278deg,rgba(0,155,255,0.47) 0%, #27a2c3 80%);
background: -moz-linear-gradient(278deg,rgba(0,155,255,0.47) 0%, #27a2c3 80%); */
