* {
    font-family: 'Jost', sans-serif;
    margin: 0;
}
header {
    background-color: lightpink;    
}
h1 {
    color: seashell;
    font-family: 'The Nautigal', cursive;
    font-size: 10rem;
}
img {
    border-radius: 50%;
    float: right;
    height: 200px;
    padding: 3% 5%;
}
main {
    background-color: lightyellow;
    padding: 0% 5% 5%;
}
section {
    padding-top: 3%;
    text-align: justify;    
}
footer {
    background-color: lightpink;
    padding: 25px;
    text-align: center;    
}
a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
form {
    background-color: lightpink;
}
.datos {
    margin: 1%;
    background-color: lightyellow;
}
#enviar:hover {
    background-color: lightgreen;
}
#borrar:hover {
    background-color: lightcoral;
}