body {
    display: flex;
    justify-content: center;
}
.contenedor {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 3px solid #080808;
}
.item {
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(1) {
    background-color: red;
}
.item:nth-child(2) {
    background-color: blue;
}
.item:nth-child(3) {
    background-color: green;
}